body{background-image:url("bg.jpg");
background-size:100% 100%;
background-attachment:fixed;
background-repeat:no-repeat;
color:aqua;
}

a{ text-decoration:none ;


color:red;
}

#join{font-size:50;

color:white}

button{
background-color:#245FC1;
}





#8{background-color:#245FC1;}

#9{background-color:#245FC1;}
#10{background-color:#245FC1;}
#11{background-color:#245FC1;}
#12{background-color:#245FC1;}
#13{background-color:#245FC1;}
#14{background-color:#245FC1;}
#15{background-color:#245FC1;}