body {
    background-image: url("bg.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
}

#navbar {

    background-color: #142850;
    background-attachment: scroll;
    background-repeat: no-repeat;

}

#navbar-list {
    list-style: none;
}

#navbar-item {
    display: inline-block;
    height: 50px;
    width: 8rem;
    line-height: 50px;
    text-align: center;
    transition: 0.3s;
}

#navbar-item:hover {
    background-color: #27496d;
    transition: 0.3s;
}

#navbar-link {
    color: #eeeeee;
    display: block;

}

#navbar-link:hover {
    color: white;

}

#img {
    width: 25%;
}



.top .clash {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
}

.top .welcome {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.container-designs {
    text-align: center;
    margin: 20px;
}

.container-designs p {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    margin: 20px;
}

.container-designs a {
    color: white;
    display: inline-block;
    margin: 20px auto;
    background-color: #2e7dda;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s
}

.container-designs a:hover {
    background-color: rgb(170, 23, 53);
    transition: 0.3s
}


.design-15,
.design-14,
.design-13,
.design-12,
.design-11,
.design-10,
.design-9,
.design-8 {
    color: white;
    background-color: black;
    padding: 10px 50px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}

.container-designs-15,
.container-designs-14,
.container-designs-13,
.container-designs-12,
.container-designs-11,
.container-designs-10,
.container-designs-9,
.container-designs-8 {
    color: white;
}

.container-designs-15 a,
.container-designs-14 a,
.container-designs-13 a,
.container-designs-12 a,
.container-designs-11 a,
.container-designs-10 a,
.container-designs-9 a,
.container-designs-8 a {
    color: white;
    display: block;
    margin: 10px auto;
    background-color: #2e7dda;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s
}


.container-designs-15 :hover,
.container-designs-14 :hover,
.container-designs-13 :hover,
.container-designs-12 :hover,
.container-designs-11 :hover,
.container-designs-10 :hover,
.container-designs-9 :hover,
.container-designs-8 :hover {
    background-color: rgb(170, 23, 53);
    transition: 0.3s
}

.copyright {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    width: fit-content;
    margin: auto;
    background-color: crimson;
    padding: 10px;
    border-radius: 10px;
}

@media (max-width:650px) {
    #navbar-item {
        display: block;
        text-align: center;
        width: 100%;
    }

    #img {
        width: 5%;
    }


}

@media (max-width:650px) {
    .container-designs a {
        display: block;
    }
}